/* Define custom user styles here */

.navbar-title {
    font-size: 1.5rem; /* Başlık yazı tipi boyutunu büyüt */
    font-weight: bold; /* Kalın font */
    color: #2c3e50; /* Yazı rengi (örneğin koyu mavi) */
    /* text-transform: uppercase; /* Tüm harfleri büyük yap */
    letter-spacing: 2px; /* Harfler arası boşluk */
    font-family: 'Arial', sans-serif; /* Yazı tipi */
    padding: 0.5rem 1rem; /* İç boşluk */
    transition: color 0.3s ease; /* Renk değişim animasyonu */
    position: relative;
    margin-right: 1rem; /* Ayraç ile elemanlar arasında boşluk */
}

.navbar-title:hover {
    color: #3498db; /* Üzerine gelindiğinde renk değişimi */
}

.navbar-title::after {
    content: "|"; /* Dikey çizgi karakteri */
    position: absolute;
    right: -1rem; /* Çizginin konumu, title'ın sağına */
    top: 50%;
    transform: translateY(-50%); /* Dikey ortalamak için */
    color: #6c757d; /* Çizgi rengi, tema ile uyumlu (gri) */
    font-weight: normal; /* Kalınlık ayarı */
}

.navbar {
    margin-left: 1rem; /* Elemanların sola kaymasını önlemek için */
    margin-right: 1rem; /* Elemanların sola kaymasını önlemek için */
}


h2#toc-title {
    font-weight: bold;
    color: #3498db; /* Örnek bir renk */
    font-size: 1rem; /* Opsiyonel: Yazı boyutu */
}

.nav-link:hover {
    font-weight: bold!important;
}
